*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: "sb";
    src: url(/static/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "thin";
    src: url(/static/Poppins-Thin.ttf);
}
@font-face {
    font-family: "thin2";
    src: url(/static/Poppins-Light.ttf);
}
section.fs{
    background-image: url(/images/Background\ Image.png);

}
.head{
    display: flex;
    justify-content: space-around;
    gap: 10%;
    align-items: center;
    padding-bottom: 1% ;

}
.links{
    font-family: "sb";
    display: flex;
    justify-content: center;
    gap: 5%;
    color: white;
    align-items: center;
    padding-left: 10%;
    width: 70vw;
}
.links h2 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
   
    
}

h2.loginbtn button{
   background-color: #EB780D;
   border: none;
   padding: 15% 80%;
   color: white;
   font-size: 10px;
   font-family: "sb";
   
}
.ft{
    padding: 10% 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 11%;
}

.bt h1{
    color: white;
    font-family: "sb";
    font-size: 40px;
    width: 35vw;
   
    
}
.st h4{
    color: white;
    font-family: "thin";
    font-size: 30px;
    width: 25vw;
}
.btn button{
    color: white;
    background-color: #EB780D;
    border: none;
    font-size: 25px;
    padding: 20px 50px;
    font-family: "sb";
}
.btn {
    padding: 1.5% 0%;
}
.textimg{
    display: flex;
    justify-content: space-around;
    padding: 10%;
    gap: 10%;
    align-items: center;
    margin: 0% 5%;
    background-color: white;
}


.text{
text-align: left;

}
.th{
    font-family: "sb";
    font-size: 30px;
}
.mt{
    font-family: "thin2";
    font-size: 20px;
}
.pg{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
section.ts{
 background-color: #d9d7d5;
}
.textimg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
    padding: 6%;
    text-align: center;
    background-color: #d9d7d5;
    margin: 0% 5%;
}
.head2{
    font-size: 30px;
    font-family: "sb";
}

.b1{
    background-color: white;
    padding: 10% 0%;
    border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;
    
}
.b1 h2{
    font-family: "sb";
}
.b1 h4{
    font-family: "thin2";
    width: 16vw;
    padding-top: 1%;

}
.fp img{
    border-radius: 20px;
}
.b2{
    background-color: white;
    padding: 10% 0%;
    border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;
    
}
.b2 h2{
    font-family: "sb";
}
.b2 h4{
    font-family: "thin2";
    width: 16vw;
    padding-top: 1%;

}
.sp img{
    border-radius: 20px;
}
.b3{
    background-color: white;
    padding: 10% 0%;
    border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;
    
}
.b3 h2{
    font-family: "sb";
}
.b3 h4{
    font-family: "thin2";
    width: 16vw;
    padding-top: 1%;

}
.tp img{
    border-radius: 20px;
}
.topimage img{
    width: 350px;
}
.wp{
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.moo h2{
    font-size: 50px;
    font-family: "sb";
}
.name1 h4{
    font-size: 30px;
    font-family: "sb";

}
.name1 h5{
    font-size: 20px;
    font-family: "thin2";
}

.allp{
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.xft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.xst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.xtt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.secondp{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-bottom: 5%;
}
.textimg3{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 10%;
    align-items: center;
}
.text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 30vw;
}
.text2 h2{
    font-size: 60px;
    font-family: "sb";

}
.text2 h4{
    padding-top: 1%;
    font-size: 30px;
    font-family: "thin2";

}
.sm button{
    font-family: "sb";
    padding: 5% 15%;
    font-size: 20px;
    background-color: #EB780D;
    color: white;
    border: none;
}
.sm{
    padding-top: 60px;
   
}
.footer{
    display: flex;
    justify-content: center;
    gap:20%;
    padding: 5%;
    font-family: "sb";

}
.firstpart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    
}
.iconsection{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondpart{
    line-height: 50px;
    font-size: 20px;
}
section.fourthpage{
    background-color: #f5aa64;
}
section.lastpage{
    background-color: rgb(233, 229, 229);
}
@media screen and (max-width: 950px) {
    
    .head{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 3%;
    align-items: center;
    padding-bottom: 1% ;
    
    }
    .links{
        font-size: 2px;
        gap: 20px;
        justify-content: center;
      
        padding-right: 10%;
    
    }
    .links h2{
        align-items: center;
    }

.bt h1{
    font-size: 20px;
    text-align: center;
}
.imagge img{
    width: 350px;
}
.th{
    font-size: 20px;
}
.head2 h1{
    font-size: 20px;
}
.mt{
    font-size: 16px;
}
.links h2 a{
   
    text-decoration: none;
    color: white;
    font-size: 10px;
    
}

.ft{
    padding: 8% 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 11%;
}

.bt h1{
    color: white;
    font-family: "sb";
    font-size: 37px;
    text-align: center;
    width: 100%;
    padding-top: 10%;
   
    
}
.st h4{
    color: white;
    font-family: "thin";
    font-size: 20px;
    width: 70vw;
}
.btn button{
    color: white;
    background-color: #EB780D;
    border: none;
    font-size: 15px;
    padding: 15px 50px;
    font-family: "sb";
    
}
.btn {
    padding: 10% 0%;
    padding-bottom: 23%;
}
.textimg{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 0%;
    gap: 10%;
    align-items: center;
    margin: 0% 1%;
    background-color: white;
    
}

section.ss{
    margin: 5%;
}
.text{
    padding-bottom: 10%;
    padding-top: 10%;
}
section.ts{
    background-color: #ece9e6;
    
   }
   h2.loginbtn{
    padding-top: 7%;
    padding-right: 15%;
}

   .textimg2{
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 60px;
       padding: 6%;
       text-align: center;
       background-color: #ece9e6;
       margin: 0% 5%;
   }
   .head2{
       font-size: 30px;
       font-family: "sb";
   }
   
   .b1{
       background-color: white;
       padding: 5% 1.5%;
       border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 13px;
       
   }
   .b1 h2{
       font-family: "sb";
       line-height: 30px;
   }
   .fp img{
    width: 100%;
   }
   .sp img{
    width: 100%;
   }
   .tp img{
    width: 100%;
   }
   .pg{
    display: flex;
    flex-direction: column;
   }
   .b1 h4{
       font-family: "thin2";
       width: 70vw;
       padding-top: 1%;
       line-height: 20px;
   
   }
   .fp img{
       border-radius: 20px;
   }
   .b2{
       background-color: white;
       padding: 5% 1.5%;
       border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 13px;
       
   }
   .b2 h2{
       font-family: "sb";
       line-height: 30px;
   }
   .b2 h4{
       font-family: "thin2";
       width: 70vw;
       padding-top: 1%;
       line-height: 20px;
   
   }
   .sp img{
       border-radius: 20px;
   }
   .b3{
       background-color: white;
       padding: 5% 1.5%;
       border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 13px;
       
   }
   .b3 h2{
       font-family: "sb";
       line-height: 30px;
   }
   .b3 h4{
       font-family: "thin2";
       width: 70vw;
       padding-top: 1%;
       line-height: 20px;
   
   }
   .tp img{
       border-radius: 20px;
   }
   .wp{
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.moo h2{
    font-size: 22px;
    font-family: "sb";
    text-align: center;
}
.name1 h4{
    font-size: 20px;
    font-family: "sb";

}
.name1 h5{
    font-size: 15px;
    font-family: "thin2";
}


.allp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 100px;
}
.xft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.xft img{
    width: 250px;
}
.icon1 img{
    width: 30px;
}
.xst img{
    width: 250px;
}
.icon2 img{
    width: 30px;
}
.xtt img{
    width: 250px;
}
.icon3 img{
    width: 30px;
}
.xst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.xtt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.secondp{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 15%;
}
.textimg3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 10%;
    align-items: center;
}
.text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    text-align: center;

}
.text2 h2{
    font-size: 23px;
    font-family: "sb";

}
.textbtn{
    text-align: center;
    padding-top: 30px;
}
.text2 h4{
    padding-top: 1%;
    font-size: 16px;
    font-family: "thin2";

}
.sm button{
    font-family: "sb";
    padding: 5% 15%;
    font-size: 15px;
    background-color: #EB780D;
    color: white;
    border: none;
}
.sm{
    padding-top: 40px;
   
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10%;
    padding: 5%;
    font-family: "thin2";

}
.iconsection img{
    width: 30px;
}
.firstpart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}
.fuo h2{
    text-align: center;
    padding-top: 10%;
    font-size: 20px;
}
.iconsection{
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondpart{
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 5%;
}
section.fourthpage{
    background-color: #efc49b;
}
section.lastpage{
    background-color: rgb(233, 229, 229);
}



}